@import 'Colors';
.advantages{
    background-color: $backgroundWhiteBlockColor;
    color: $onLightTextColor;
    &__content{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 3.75rem 7rem;
        @media screen and (max-width: 1024px) {
            padding: 3.75rem 4.5rem;
        }
        @media screen and (max-width: 768px) {
            padding: 3.75rem  2rem 3.75rem 2rem;
          }
        @media screen and (max-width: 540px) {
            padding: 1.3125rem 1.25rem 1.875rem 1.25rem;
            align-items: center;
        }
        position: relative;
        h1{
            margin: 0;
            margin-left: 0.625rem;
            margin-bottom: 2.5rem;
            font-size: 1.5em;
            font-family: 'Century Gothic';
            font-weight: bold;
            letter-spacing: 0.15em;
            @media screen and (max-width: 650px) {
                margin-left: 0;
                font-size: 1.375em;
                margin-bottom: 1.5rem;
                text-align: center;
            }
        }
    }
    &__grid-container{ 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem; 
        justify-content: center;
        @media screen and (max-width: 650px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 1.875rem; 
        }
    }


    &__item{
        grid-column: span 4;
    }
    
    &__pepper{
        position: absolute;
        top: 0%;
        left: 50%;
    }

    &__shashlik{
        position: absolute;
        top: 15.8%;
        left: 0;
    }

    &__ribs{
        position: absolute;
        top: -10%;
        right: 4.2%;
    }

    &__tomato{
        position: absolute;
        right: -2%;
        top: 63%;
    }

    &__steak{
        position: absolute;
        bottom: -7%;
        left: 70%;
    }
    &__khachapuri{
        position: absolute;
        display: none;
    }
    &__shashlik-mobile{
        position: absolute;
        display: none;
    }
    @media screen and (max-width: 870px) {
        
        &__pepper{
                top: 15%;
                left: 50%;
                height: 9.5rem;
                width: 10.25rem;
            
        }
    
        &__shashlik{
            position: absolute;
            top: 15.8%;
            left: 0;
        }
    
        &__ribs{
            position: absolute;
            right: 4.2%;
        }
    
        &__tomato{
            position: absolute;
            right: 0;
            top: 63%;
        }
    
        &__steak{
            position: absolute;
            bottom: 0;
            left: 55%;
            transform: rotate(-30deg);
        }

        &__khachapuri{
            position: absolute;
            display: none;
        }
    }
    @media screen and (max-width: 650px) {
        
        &__pepper{
                top: 40%;
                left: 40%;
                height: 9.5rem;
                width: 10.25rem;
                transform: rotate(30deg);
        }
    
        &__shashlik{
            display: none;
        }

        &__shashlik-mobile{
            display: block;
            bottom: -4%;
            left: 0;
        }
        
    
        &__ribs{
            position: absolute;
            top: 5%;
            right: -10%;
        }
    
        &__tomato{
            position: absolute;
            left: -2%;
            top: 40%;
        }
    
        &__steak{
            position: absolute;
            bottom: 0;
            left: 55%;
            height: 8.7rem;
            width: 9.2rem;
        }
        
        &__khachapuri{
            position: absolute;
            display: block;
            top: 5%;
            left: 0;
        }
    }
    @media screen and (max-width: 375px) {
        &__pepper{
            top: 50%;
            left: 35%;
            height: 9.5rem;
            width: 10.25rem;
            transform: rotate(30deg);
    }
    }
}