$headerBackgroundColor: rgba(#171717, 0.7);
$footerBackgroundColor: rgba(#121212, 0.8);
$defaultTextColor: #fff;
$highlightedItemColor: #a63d40;
$headerTextColor: #f5f5f7;
$onLightTextColor: #000;
$borderColor: #fff;
$onLightBorderColor: #000;
$backgroundWhiteBlockColor: rgba(#f5f5f7, 0.4);
$reviewCardBackground: rgba(#f5f5f7, 0.8);
$arrowControllerColor: rgba(#f5f5f7, 0.7);
$burgerMenuBordersColor: rgba(#ffffff, 0.05)