@import 'Colors';

.footer{
    padding: 3.75rem 7rem;
    background-color: $footerBackgroundColor;
    display: flex;
    font-family: 'Inter';
    flex-direction: column;
    color: $defaultTextColor;
    @media screen and (max-width: 1024px) {
        padding: 3.75rem 4.5rem;
    }
    @media screen and (max-width: 768px) {
        padding: 1.875rem  2rem;
    }
    @media screen and (max-width: 540px) {
        padding: 1.875rem 1.25rem;
    }
    &__content{
        display: flex;
        flex-direction: row;
        @media screen and (max-width: 960px) {
            display: grid;
            grid-template-columns: repeat(2, (minmax(0, 1fr))); 
            gap: 2rem; 
        }
    }
    &__left{
        display: flex;
        flex-direction: column;
        h1{
            font-family: 'Inter';
            font-weight: 600;
            letter-spacing: 0.05em;
            font-size: 1em;
            margin-top: 0;
            margin-bottom: 0.625em;
            @media screen and (max-width: 660px) {
                margin-bottom: 1em;
            }
        }
        @media screen and (max-width: 660px) {
            grid-column: span 1;
        }
    }
    &__right{
        display: flex;
        flex-direction: row;
        margin-left: auto;
    }
    &__logo {
        width: fit-content;
        margin-right: 6.625rem;
        @media screen and (max-width: 1100px) {
            margin-right: 5rem; 
        }
        @media screen and (max-width: 960px) {
            margin-right: auto; 
            margin-left: auto; 
            width: fit-content;
            grid-column: span 2;
        }
    }
    &__information-list {
        list-style-type: none;
        white-space: wrap; 
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 1em;
        line-height: 1.125em;
        font-weight: 400;
        letter-spacing: 0.05em;
        & a:hover,
        & a:focus {
            cursor: pointer;
            color: $highlightedItemColor; 
        }
        @media screen and (max-width: 768px) {
            font-size: 0.875rem;
        }
    }
    &__information-item:not(:last-child) {
        margin-bottom: 1.25rem; 
        @media screen and (max-width: 768px) {
            margin-bottom: 0.625rem; 
        }
    }
      
    &__delivery{
        display: flex;
        flex-direction: column;
        margin-left: 2.5rem;
        overflow: hidden;
        word-wrap: break-word; 
        h2{
            font-weight: 600;
            font-size: 1em;
            margin-top: 0;
            margin-bottom: 0.625rem;
            letter-spacing: 0.05em;
            word-wrap: break-word; 
            @media screen and (max-width: 660px) {
                margin-bottom: 1em;
            }
        }
        @media screen and (max-width: 1024px) {
            margin-left: 1.5rem;
        }
        @media screen and (max-width: 660px) {
            grid-column: span 1;
            margin-left: 0;
        }
        
    }

    &__delivery-list{
        list-style-type: none;
        white-space: wrap; 
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 0.875em;
        line-height: 1em;
        font-weight: 400;
        letter-spacing: 0.05em;
    }
    &__delivery-item:not(:last-child) {
        margin-bottom: 0.625rem; 
    }

    &__contacts{
        display: flex;
        flex-direction: column;
        font-size: 1em;
        font-weight: 600;
        h2{
            font-size: 1em;
            margin-top: 0;
            margin-bottom: 0.625rem;
            letter-spacing: 0.05em;
            @media screen and (max-width: 660px) {
                margin-bottom: 1em;
            }
        }
        @media screen and (max-width: 768px) {
            font-weight: 400;
        }
        @media screen and (max-width: 660px) {
            grid-column: span 1;
        }
    }

    &__contacts-list{
        list-style-type: none;
        white-space: nowrap; 
        width: 100%;
        padding: 0;
        margin: 0;
        @media screen and (max-width: 768px) {
            font-size: 0.875rem;
        }
    }

    &__contacts-item:not(:last-child){
        margin-bottom: 0.3125rem;
        @media screen and (max-width: 768px) {
            margin-bottom: 0.625rem;
        }
    }

    &__copyrighted{
        font-family: 'Inter';
        margin-top: 3rem;
        font-weight: 400;
        font-size: 0.875em;
        letter-spacing: 0.05em;
        color: $arrowControllerColor;
        @media screen and (max-width: 400px) {
            margin-top: 1rem;
        }
    }
}