.landing-page{
    background-image: url("../assets/images/brown-wooden-textured-flooring-background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}