@import 'Colors';



.slick-slider{
    &:hover {
        cursor: grab; 
    }
}

.slider-container{
    height: max-content;
}


.reviews{
    position: relative;
    width: 100%;
    padding: 3.75rem 7rem;
    color: $onLightTextColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $backgroundWhiteBlockColor;
    @media screen and (max-width: 1024px) {
        padding: 3.75rem 4.5rem;
    }
    @media screen and (max-width: 768px) {
        padding: 1.875rem  2rem;
    }
    
    h1{
      text-align: center;
      margin-top: 0;
      margin-bottom: 2.5rem;
      font-family: 'Century Gothic';
      font-size: 2em;
      font-weight: bold;
      letter-spacing: 0.15em;
      @media screen and (max-width: 540px) {
        margin-bottom: 0.75rem;
      }
    }

    .slider-container{
        width: 100%;
    }


    .slick-center{
        background-color: $reviewCardBackground;
        padding: 0 1.25rem; 
    }

    .slick-active {
        // height: 13.625rem!important;
        border-radius: 1.25rem;
        border: 1px solid $onLightBorderColor;
    }

    .slick-current {
        // height: 308px!important;
        // width: 378px!important;
        .reviews__star {
            width: 2.5rem;
            height: 2.5rem;
        }
        .reviews__comment-content {
            span{
                font-size: 0.875rem;
            }
        }
        .reviews__user-pic{
            width: 5rem;
            height: 5rem;     
         }
         @media screen and (max-width: 1100px) {
            .reviews__star {
                width: 1.875rem;
                height: 1.875rem;
            }
            .reviews__user-pic{
                width: 4.125rem;
                height: 4.125rem;    
             }
            .reviews__comment-content {
                margin-top: 1.6875rem;
                margin-bottom: 0;
                h2{
                    margin-bottom: 1rem;
                }
                span{
                    font-size: 0.75rem;
                }
            }
        }
        @media screen and (max-width: 540px) {
            .reviews__star {
                width: 1rem;
                height: 1rem;
            }
            .reviews__user-pic{
                width: 2rem;
                height: 2rem; 
                margin-bottom: 0.5rem;   
             }
        }
    }

    .slider-container{
        margin: 0 auto;
    }

    &__card{
        grid-column: span 4;
        padding: 1rem 2rem 1rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        overflow: hidden;
        &.reviews__current {
            padding: 1rem 4.5rem; 
        }
    }
    .slick-slide .slick-active{
        max-width: 200px;
    }
    &__comment-content{
        display: flex;
        margin: 1.5625rem 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        font-family: 'Century Gothic';
        text-align: center;
        h2{
            margin-top: 0;
            margin-bottom: 0.5rem;
            font-size: 1.125rem;
            letter-spacing: 0.1em;
            word-wrap: break-word; 
            overflow-wrap: break-word;
        }
        span {
            word-wrap: break-word; 
            overflow-wrap: break-word;
            font-size: 0.75rem;

        }
        
    }
    &__user-pic{
       width: 4.125rem;
       height: 4.125rem;     
    }
    
    &__star{
        width: 1.875rem;
        height: 1.875rem;
    }
    
    @media screen and (max-width: 1100px) {
        &__star {
            width: 1.5rem;
            height: 1.5rem;
        }
        &__user-pic{
            width: 3.25rem;
            height: 3.25rem;    
         }
        &__comment-content {
            margin-top: 0.75rem;
            margin-bottom: 0;
            span{
                font-size: 0.75rem;
            }
        }
    }
    @media screen and (max-width: 540px) {
        &__star  {
            width: 1rem;
            height: 1rem;
        }
        &__user-pic{
            width: 2rem;
            height: 2rem; 
            margin-bottom: 0.5rem;   
         }
    }
    
    
    .slick-arrow{
        width: 3.75rem;
        height: 3.75rem; 
        fill: $borderColor;
        @media screen and (max-width: 768px) {
            width: 3rem;
            height: 3rem; 
        }
    }
    .slick-arrow.slick-disabled {
        fill: $arrowControllerColor; 
    }
    .slick-next{
        right: -4.5rem;
    }
    .slick-prev{
        left: -4.5rem;
    }
    
    @media screen and (max-width: 768px) {
        .slick-next{
            right: -2rem;
        }
        .slick-prev{
            left: -2rem;
        }
    }
    .slick-slider .slick-track, .slick-slider .slick-list{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .slick-initialized .slick-slide{
        margin-left: 1.0938rem;
        margin-right: 1.0938rem;
        @media screen and (max-width: 1200px) {
            margin-left: 0.25rem;
            margin-right: 0.25rem;
        }
        @media screen and (max-width: 1024px) {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
    }
    // .slick-slider .slick-list{
        // display: flex;
        // flex-direction: row;
        // align-items: center;
    // }
    
}
