@import "styles/Colors";

.bread-crumb{
    display: flex;
    flex-direction: column;
    padding-top: 5.9375rem;
    @media screen and (max-width: 540px) {
        padding-top: 3.75rem;
    }
}

a.MuiTypography-root {
    color: $breadcrumbTextColor!important;
    font-size: 0.75rem!important;
    letter-spacing: 0.1em!important;
    font-weight: 500!important;
}

a.MuiTypography-root:hover {
    color: $highlightedItemColor!important;
    text-decoration: underline;
}

li.MuiBreadcrumbs-separator{
    line-height: initial;
    color: $breadcrumbDashesColor!important;
}

li.MuiBreadcrumbs-li{
    display: flex;
    flex-direction: row;
    align-items: end;
}

ol.MuiBreadcrumbs-ol{
    margin-left: 7rem!important;
    margin-top: 0.9375rem!important;
    margin-bottom: 0.6875rem!important;
    background-color: $breadcrumbBackground!important;
    @media screen and (max-width: 1200px) {
        margin-left: 4.5rem!important;
    }
    @media screen and (max-width: 768px) {
        margin-left: 2rem!important;
    }
    @media screen and (max-width: 540px) {
        margin-left: 1.25rem!important;
        margin-top: 0.625rem!important;
        margin-bottom: 0.375rem!important;
    }
    
}

p.MuiTypography-root{
    text-align:end;
    color: $highlightedItemColor!important;
    font-family: 'Inter'!important;
    font-size: 0.75rem!important;
    letter-spacing: 0.1em!important;
    font-weight: 500!important;
    text-decoration: underline;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;

    &__circle {
        width: 0.625rem;
        height: 0.625rem;
        border-radius: 50%;
        border: 1px solid white;
    }
    
    &__line {
        flex-grow: 1;
        height: 0.0625rem;
        background-color: white; 
    }
}


